// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

html, body {
    height: 100%;
    }
    #page-content {
    flex: 1 0 auto;
    }
    footer {
    flex-shrink: 0;
    }


.main-banner {
    background-image: url(/images/banners/i3.jpg); background-repeat: no-repeat; background-size: cover;
}
