.chat-on-watsapp {
    background-color: none;
    bottom: 124px;
    font-size: 1.35rem;
    font-weight: 700;
    height: 50px;
    padding-top: 1em;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 1000;
}

.rounded-custom {
    border-radius: 102px !important;
}


.main-banner {
    background-image: url('/images/banners/i3.jpg'); background-repeat: no-repeat; background-size: cover;
}

 /* .image-container {
    height: 100%; 
    position: relative;
    overflow: hidden;
}

 .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}  */

